body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px 60px;
}

nav {
    background: rgb(143,162,237);
    background: linear-gradient(90deg, rgba(143,162,237,1) 0%, rgba(52,55,147,1) 35%, rgba(28,25,78,1) 100%);
    padding: 16px;
}

.header-text {
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
    width: 75%;
}

#content {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: -15px;
}

.left-sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
    height: auto;
}

#side-header {
    font-size: 24px;
    font-weight: bolder;
}

#search-button {
    padding: 8px;
    border: 1px solid gray;
    border-radius: 4px;
}

.search {
    background-color: rgb(109, 134, 245);
    border-radius: 4px;
    color: white;
    padding: 8px;
    border: none;
}

hr {
    color: gray;
    width: 100%;
    margin-top: 5px;
}


#search-output {
    background-color: gray;
    width: 100%;
    border: none;
    padding: 8px;
    border-radius: 4px;

}

#results {
    font-display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.current-day {
    border: 1px solid black;
    box-sizing: border-box;
    width: 90%;
    height: auto;
    padding: 6px;
}


.day-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    color: white;
}

card {
    background-color:rgb(68, 68, 99);
    width: 150px;
}

.card-content {
    padding: 0px 6px;
}
