body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px 60px;
    background-image: url(./pexels-alexander-grigorian-13032494.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-position: 0% 10%;
    background-size: cover;
}

nav {
    background: rgb(143,162,237);
    background: linear-gradient(90deg, rgb(175, 190, 248) 0%, rgb(27, 27, 245) 35%, rgb(18, 16, 51) 100%);
    padding: 16px;
}

.header-text {
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
    width: 75%;
}

#content {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: -15px;
}

.left-sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
    height: auto;
}

#side-header {
    font-size: 24px;
    font-weight: bolder;
    padding-bottom: 10px;
}

#search-button {
    padding: 8px;
    border: 1px solid gray;
    border-radius: 4px;
}

.search {
    background-color: rgb(38, 73, 230);
    border-radius: 4px;
    color: white;
    padding: 8px;
    border: none;
}

hr {
    color: gray;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
}


#search-output {
    background-color: rgb(192, 191, 191);
    width: 100%;
    border: none;
    padding: 8px;
    border-radius: 4px;

}

#results {
    font-display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.current-day {
    background-color: rgba(0, 0, 0, 0.562);
    box-sizing: border-box;
    width: 90%;
    height: auto;
    padding: 6px;
}

.day-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    color: white;
    margin-bottom: 0px;
}

card {
    background-color:rgb(70, 70, 241);
    width: 150px;
}

.card-content {
    padding: 0px 6px;
}

footer {
    margin: 0px;
    padding: 10px;
    text-align: center;
    color: gray;
}


/* Tablets */
@media screen and (max-width: 992px) {

  }

 /* Large smartphones */
 @media screen and (max-width: 768px) {

  }

   /* Small smartphones */
   @media screen and (max-width: 576px) {

}